/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@import url('../fonts/fonts.css');
@import url('./variables.css');

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  background-image: var(--grid-gradient);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.header {
  width: var(--block-width);
  height: clamp(327px, calc(327px + 43 * (100vw - 375px) / 325), 370px);
  padding-block: clamp(122px, calc(122px + 8 * (100vw - 375px) / 325), 130px);
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font);
  font-weight: 400;
  margin-block-start: 100px;
  margin-block-end: 96px;
}

.logo__title {
  font-size: clamp(49px, calc(49px + 16 * (100vw - 375px) / 325), 65px);
  font-weight: 400;
}

.logo__text {
  font-size: clamp(14px, 3vw, 23px);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: var(--block-width);
}

.base-button {
  height: 38px;
  background-color: var(--button-bg);
  font-family: var(--accent-font);
  font-size: 14px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.base-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

.base-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--transition-duration) var(--transition-timing);
  z-index: 1;
}

.base-button:hover::before {
  transform: scaleX(1);
}

.card {
  border: 2px solid #000;
  background-color: #fff;
  width: var(--block-width);
  height: auto;
  display: flex;
  flex-direction: column;
}

.image {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: content-box;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.watermark {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(0, 0, 0, 0.5);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 rgb(255, 255, 255, 0.5), 
    0 1px rgb(255, 255, 255, 0.5), 
    1px 0 rgb(255, 255, 255, 0.5), 
    0 -1px rgb(255, 255, 255, 0.5);
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px rgb(255, 255, 255, 0.5)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
  }
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--accent-font-weight);
  line-height: 22px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text p {
  margin-inline: 25px;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  line-height: 21px;
}

.card__buttons {
  display: flex;
  gap: 6px;
  align-self: flex-end;
  align-items: center;
  justify-items: center;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  outline: none;
  padding-inline-start: 2px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  width: 38px;
  height: 38px;
  padding: 0;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--button-accent, #000);
}

.like-icon {
  transform-origin: center;
  margin: auto;
}

.like-icon .heart {
  transform-origin: center;
  transform-box: fill-box;
}

.card__icon-button .like-icon {
  transition: transform 0.3s ease;
}

.like-icon .sparks {
  fill: var(--heart-animation-color, #f00);
  opacity: 0;
}

.like-icon .contour {
  fill: var(--heart-contour-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: var(--heart-core-color);
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .like-icon {
  --heart-main-color: #000;
  --heart-core-color: #000;
  --heart-contour-color: #000;
}

.card__icon-button:hover .like-icon .core {
  transition-delay: 0s;
}

.card__icon-button:hover .like-icon .main-body {
  transition-delay: 0.05s;
}

.card__icon-button:active .like-icon {
  --heart-main-color: #f00;
  --heart-core-color: #f00;
}

.card__icon-button:active .like-icon .core {
  transition-delay: 0s;
}

.card__icon-button:active .like-icon .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  --heart-core-color: #f00;
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  --heart-main-color: #f00;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  --heart-contour-color: #f00;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s 1 normal forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1 normal forwards;
}

.card__like-button {
  min-width: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--button-text);
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.brightness {
  filter: brightness(70%);
}

.contrast {
  filter: contrast(20%);
}

.blur {
  filter: blur(5px);
}

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(158%);
}

.sepia {
  filter: sepia(80%);
}

.sepia-contrast-brightness {
  filter: sepia(1) contrast(20) brightness(200%);
}

.save-button {
  align-self: center;
  display: flex;
  width: clamp(306px, 100vw, 335px);
  height: clamp(55px, 1vh, 84px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 100px;
}

.floppy {
  width: 21px;
  height: 21px;
  stroke: #fff;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog:open {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-items: center;
  align-items: center;
  padding-inline: 28px;
  padding-block: 28px;
}

.popup-title {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  width: clamp(261px, calc(261px + (293 - 261) * ((100vw - 375px) / (1440 - 375))), 293px);
}

.popup-title svg {
  width: 82px;
}

.popup-text {
  display: block;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.form-dialog,
.popup-button {
  display: block;
  width: clamp(261px, calc(261px + (293 - 261) * ((100vw - 375px) / (1440 - 375))), 293px);
}

@media (width < 376px) {
  .header {
    margin-block-end: 103px;
  }

  .card__buttons {
    padding-inline-start: 4px;
  }

  .card__text {
    padding-inline-end: 1px;
  }

  .save-button {
    flex-direction: column;
    width: 306px;
    height: 88px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  dialog:open {
    padding-inline: 36px;
  }

  .popup-title svg {
    width: 92px;
  }
}