:root {
  --main-font: 'Inter-Variable', Arial, sans-serif;
  --accent-font: 'PressStart2P', 'Courier New', monospace;

  --main-font-weight: 410;
  --accent-font-weight: 715;

  --grid-gradient: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

  --block-width: clamp(375px, calc(375px + 325 * (100vw - 375px) / 325), 700px);

  --button-bg: #fff;
  --button-text: #fff;
  --button-accent: #000;
  --transition-duration: 0.5s;
  --transition-timing: ease-in-out;
  --icon-color: #fff;
  --icon-mix-blend-mode: difference;

  --heart-contour-color: #000;
  --heart-main-color: transparent;
  --heart-core-color: transparent;
  --heart-animation-color: #f00;
}